biopython
bidict
cython
forgi
fr3d @ git+https://github.com/cgoliver/fr3d-python.git
gemmi
joblib
loguru
networkx
numpy
PuLP
pytest
requests
rna-fm
rdkit
seaborn
scikit-learn
torch
torch_geometric
tqdm
