sphinx
sphinx-prompt
sphinx_substitution_extensions
sphinx-rtd-theme
sphinx_autodoc_typehints
myst-parser
git+https://github.com/cgoliver/rnaglib.git
dgl
rna-fm
fr3d @ git+https://github.com/cgoliver/fr3d-python.git

